body {
    font-family: Arial, sans-serif;
    background-color: #f0fdf4; /* Fondo verde claro */
    color: #065f46; /* Texto verde oscuro */
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #065f46; /* Verde oscuro */
    text-align: center;
}

form {
    background-color: #d1fae5; /* Verde claro */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button {
    background-color: #10b981; /* Botón verde */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #059669; /* Botón verde más oscuro */
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #d1fae5; /* Bordes verdes claros */
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #10b981; /* Verde oscuro */
    color: white;
}

table tr:nth-child(even) {
    background-color: #f0fdf4; /* Verde claro */
}