<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Meta Financiera</title>
  <link rel="stylesheet" href="../static/css/presupuesto.css">
</head>
<body>
  <div class="contenedor">
    <div id="parte-superior">
      <h2>
        ¿Deseas añadir o quitar presupuesto?
      </h2>

    </div>
      <button type="submit">Añadir presupuesto</button>
      <button type="submit">Quitar presupuesto</button>
  </div>

</body>
</html>
