<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Meta Financiera</title>
  <link rel="stylesheet" href="{% static 'css/quitar.css' %}">
</head>
<body>
  <div class="contenedor">
    <div id="parte-superior">
      <h2>Retira tu presupuesto</h2>
    </div>

      <label for="monto">Monto total ($):</label>
      <input type="number" id="monto" name="monto" required>


      <button type="submit">Guardar Meta</button>
    </form>
  </div>

</body>
</html>

