<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="../static/css/registro.css">


</head>
<body>
    <div class="formulario">
        <h1>Registro</h1>
        <form method="post" action="/registro">
            <div class="cedula">
                <input type="number" name="cedula" required>
                <label>Cédula</label>
            </div>
            <div class="nombre">
                <input type="text" name="nombre" required>
                <label>Nombre</label>
            </div>
            <div class="email">
                <input type="email" name="correo" required>
                <label>Correo electrónico</label>
            </div>
            <div class="Contraseña">
                <input type="password" name="password"required>
                <label>Contraseña</label>
            </div>
            <div class="Contraseña">
                <input type="password" name="confirmPassword" required>
                <label>Confirmar contraseña</label>
            </div>
            <input type="submit" value="Registrarse">
            <div class="login">¿Ya tienes una cuenta? <a href="/">Inicia sesión</a></div>


        </form>
    </div>
</body>
</html>